<?xml version="1.0"?>

<model>
  <name>Tunnel Wall Debris</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Wall debris for tunnel environment
  </description>

</model>
